@model Slack.Models.ViewModels.LoginModel
@{
    Layout = null;
}
<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Account/Login/login.css" />
    }
</head>
<body class="bg-light">
    <div class="container">
        <form action="/login" method="post" autocomplete="off">
            @Html.AntiForgeryToken()

            <div class="form-horizontal col-10 col-sm-12 col-md-12">
                <h4 class="text-center text-uppercase">skavee / login</h4>
                <hr class="bg-primary" />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="mx-auto col-md-9 col-sm-9">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label text-uppercase" })
                        @Html.EditorFor(model => model.Email, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control uneditable-input text-dark",
                                placeholder = "Enter Email"
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="mx-auto col-md-9 col-sm-9">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label text-uppercase" })
                        <a href="/forgot-password" class="float-right small text-dark">forgot?</a>
                        @Html.EditorFor(model => model.Password, new
                        {
                            htmlAttributes = new
                            {
                                @class = "form-control uneditable-input text-dark",
                                placeholder = "Enter Password"
                            }
                        })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="mx-auto col-md-9 col-sm-9">
                    <div class="custom-control custom-checkbox">
                        @Html.CheckBox("RememberMe", new
                        {
                            @class = "custom-control-input",
                            id = "rememberMe"
                        })
                        <label class="custom-control-label" for="rememberMe">Remember me</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="mx-auto text-center col-md-9 col-sm-9 mt-4">
                        <input type="submit" value="Login" class="btn btn-outline-dark d-block mx-auto" />
                        <a href="/register" class="text-uppercase d-inline-block mx-auto mt-2 small text-dark">or register</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
