@using Slack.Identity.Entities
@model  Tuple<ApplicationUser, bool>
@{
    var user = Model.Item1;
    var isSubscriber = Model.Item2;
}
<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Home/Posts/posts.css">
        <link rel="stylesheet" href="~/Content/Styles/Home/Profile/profile.css">
    }

    @section scripts{
        <script src="~/Scripts/Hubs/subhub.js"></script>
        <script src="~/Scripts/Hubs/posthub.js"></script>
        <script src="~/Scripts/Home/Posts/posts_load.js"></script>
        <script src="~/Scripts/Home/Posts/post_upload.js"></script>
        <script src="~/Scripts/Home/AnotherProfile/anothprofile.js"></script>
    }
</head>
<body class="bg-light">
    <div class="user_info">
        <div>
            <div class="puser_img">
                <img class="rounded-circle d-block mx-auto" src="@user.ImagePath" />
            </div>
            <div class="puser_name">
                <h2 class="text-center">@user.FirstName @user.LastName</h2>
            </div>
            <div class="puser_data text-center">
                @if (user.Birthday.HasValue)
                {
                    DateTime birthday = user.Birthday.Value;
                    DateTime now = DateTime.Today;

                    int age = now.Year - birthday.Year;
                    if (now < birthday.AddYears(age))
                    {
                        age--;
                    }
                    <h5 class="small">@age years</h5>
                }
                @if (user.City != null && user.Country != null)
                {
                    <h5 class="small">from @user.City, @user.Country</h5>
                }
            </div>
            <div class="actions">
                <div class="follow">
                    @if (isSubscriber)
                    {
                        <button class="btn  d-block mx-auto .focus-border-dark following"><i class="fas fa-users"></i> Following</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-dark d-block mx-auto"><i class="fas fa-users"></i> Follow</button>
                    }
                </div>
                <div class="start_messaging">
                    <h4 class="text-center">Maybe you want <mark>to tell</mark> him/her something?</h4>
                    <a href="/dialog/create-private/@user.Id" class="btn d-block mx-auto text-uppercase small"><i class="fab fa-telegram-plane"></i> Start messaging</a>
                </div>
            </div>
        </div>
    </div>
    <div class="posts">
        @{Html.RenderAction("Posts", new { skip = 0, take = 10, only = true, userId = user.Id, fromCache = true });}
    </div>
</body>
</html>