@using Slack.Identity.Entities
@model  ApplicationUser

<html>
<head>
    @section links{
        <link rel="stylesheet" href="~/Content/Styles/Home/Posts/posts.css">
        <link rel="stylesheet" href="~/Content/Styles/Home/Profile/profile.css">
    }

    @section scripts{
        <script src="~/Scripts/Hubs/posthub.js"></script>
        <script src="~/Scripts/Home/Posts/posts_load.js"></script>
        <script src="~/Scripts/Home/Posts/post_upload.js"></script>
        <script src="~/Scripts/Home/Profile/profile.js"></script>
    }
</head>
<body class="bg-light">
    <div class="user_info">
        <div>
            <div class="puser_img">
                <img class="rounded-circle d-block mx-auto" src="@Model.ImagePath" />
            </div>
            <div class="puser_name">
                <h2 class="text-center">@Model.FirstName @Model.LastName</h2>
            </div>
            <div class="puser_data text-center">
                @if (Model.Birthday.HasValue)
                {
                    DateTime birthday = Model.Birthday.Value;
                    DateTime now = DateTime.Today;

                    int age = now.Year - birthday.Year;
                    if (now < birthday.AddYears(age))
                    {
                        age--;
                    }
                    <h5 class="small">@age years</h5>
                }
                @if (Model.City != null && Model.Country != null)
                {
                    <h5 class="small">from @Model.City, @Model.Country</h5>
                }
            </div>
            <div class="actions">
                <div class="edit">
                    <a href="/settings" class="btn d-block mx-auto  small"><i class="fas fa-cog"></i> Edit profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="posts">
        @{Html.RenderAction("Posts", new { skip = 0, take = 10, only = true, userId = Model.Id, fromCache = true });}
    </div>
</body>
</html>